body, html, #app {
	background-color: #1f1f1f;
	font-family: 'Quicksand';
	margin: 0;
	color: white;
}

button {
	background-color: transparent;
	color: white;
	border: none;
}

.btn-hidden {
	border-style: none;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	flex-direction: column;
}

.title {
	height: 200px;
	width: 1200px;
	margin: 0 auto;
}

// For PageGrid
.circle {
	border-radius: 50px;
	height: 200px;
	width: 200px;
	background-color: white;
}

.page-grid {
	width: 1200px;
	height: 70vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

// For Timeline Slider
.viewport {
	width: 100%;
	height: calc(100vh - 75px);
	overflow: hidden;
}

.slider-nav {
	display: flex;
	width: 500px;
	margin: 0 auto;

	svg {
		margin-top: 20px;
		margin: 0 100px;
	}
}

.timeline-container {
	margin: 100px;
	display: flex;
}

