// Globals
.event-title {
	font-size: 25px;
	font-family: "Quicksand";
}

.text-center {
	text-align: center;
}

.center {
	margin: 0 auto;
}

.connector {
	width: 2px;
	height: 70px;
	background-color: white;
}

.w100 {
	width: 100%;
}

// Connector
.first {
	margin-left: 112px;
}

.connector-container {
	width: 400px;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.connector-dot {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: white;
}

.connector-line-left {
	height: 2px;
	width: 87px;
	background-color: white;
	margin-right: 25px;
}

.flex-end {
	display: flex;
	align-items: flex-end;
}

.btn-hidden {
	border: none;
}

// Single Image Event
.single-image-event {
	width: 250px;
	
	img {
		object-fit: cover;
		width: 100%;
		height: 250px;
		border-radius: 20px;
	} 
}

// Four Image Event
.four-image-event {
	width: 250px;
	.grid-four {
		width: 100%;
		height: 254px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		margin: 0 auto;

		img {
			width: 100%;
			border-radius: 3px;
		}
	}

	img:hover {
		opacity: 0.8;
	}

	.chosen-image {
		width: 100%;
		height: 250px;
		border-radius: 20px;
	}
}

// Small Event
.small-event {
	width: 250px;

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 16px;
	}
}

